CONNECTION_OPTIONS = {
    'host': 'horizon.opensrs.net',
    'port': '55443',
    'username': 'REPLACE WITH REAL USERNAME',
    'private_key': 'REPLACE WITH REAL PRIVATE KEY',
    'default_timeout': 60,
}
